<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Favourite articles
    </ion-title>
  </ion-toolbar>
  <ion-searchbar
  placeholder='try "arsenal or declan rice"'
  [(ngModel)]="searchTerm"
  animated></ion-searchbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let article of data | filter:searchTerm">
    <ion-card-header>
      <img [src]="article.urlToImage"> 
      <ion-card-title>{{article.title}}</ion-card-title>
      <ion-card-subtitle>{{article.author}}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
    {{article.description}}
    </ion-card-content>
    <ion-button [href]="article.url">Read more</ion-button> <ion-button>UnFavourite</ion-button>
  </ion-card>
</ion-content>